
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
    
}

/* navigation */

.navigation{
    position: sticky;
    top: 0px;
    color: aliceblue;
    display: flex;
  
    height: 60px;
    
    background-color: rgb(24, 22, 22);
    
}

#leftnav{
    /* border: 1px solid black; */
    width: 60%;
    font-weight:bold;
    font-size: 30px;
    text-indent: 20px;

}
#closeicon{
    display: none;
}

#rightnavigation{
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
#rightnavigation a{
    
    width: 100px;
    height: 40px;
    text-align: center;
    color: aliceblue;
    line-height: 40px;
    text-decoration: none !important;
    transition: 1s;
    
}

#rightnav:hover{
    filter:drop-shadow(10px 6px 3px green);
    color:greenyellow;
    font-weight: bold;
    font-size: 22px;
}
#menuicon{
margin-top: 15px;
display: none;
 
}

/* Navigation End */
/* Home */
#homecontent{
   background-color: rgb(20, 25, 48);
   height: 100vh;
   color: aliceblue;
   padding-top: 100px;
   padding-left: 40px;
   font-weight: bold    ;
}

#homecontent p{
    display: flex;
    padding-top: 30px;
    
    
    font-size: large;
}

#homebtn{
    margin-top: 40px;
}
#hirebtn{
height: 50px;
width: 140px;
border: 1px;
border-radius: 8px;
background-color: rgb(77, 77, 145);
transition: 1s;
color: aliceblue;
}

#talkbtn{
    margin-left: 30px;
    height: 50px;
    width: 140px;
    border: 3px solid rgb(46, 70, 177);
    border-radius: 8px;
    background-color: rgb(20, 25, 48);
    transition: 1s;
    color: aliceblue;
}
#hirebtn:hover{
    transform: scale(1.1);
}
#talkbtn:hover{
    transform: scale(1.1);
}

#fa{
    padding-top: 40px;
       
}

/* Home End */

/* About */
#about{
    padding-top: 70px;
    height: 100vh;
    background-color: rgb(20, 25, 48);
    text-align: center;
    display: flex;
    flex-direction: column;
}
#img{
    width: 96vw;
   
    display: flex;
    justify-content: center;
}
#img1{
    
    margin-top: 30px;
    border: 1.5px solid red;
    border-radius: 50%;
    height:250px;
    width: 250px;
    background-image: url('../dk1.png');
    background-size: cover;
    transition: 1s;
    
}
#img1:hover{
    transform: scale(1.2);
    border: 3px solid red;
}
#info{
    padding-top:40px;
    color: aliceblue;
    font-size: large;
}

/* About End */

/* Education */

#education{
    
    padding-top: 60px;
    height: 235vh;
    background-color: rgb(20, 25, 48);
    color: aliceblue;
}
#container1{
    padding-top: 40px;
    display: flex;
    gap: 40px;
    justify-content: center;
    flex-wrap: wrap;
}

#block1{
   border: 1px solid greenyellow; 
   height: 300px;
   width: 400px;
   padding-left:50px;
   font-size: large;
}
#block2{
    border: 1px solid greenyellow; 
    height: 300px;
    width: 400px;
    padding-left:50px;
    font-size: large;
 }
 #container2{
    padding-top: 40px;
    display: flex;
    gap: 40px;
    justify-content: center;
    flex-wrap: wrap;
}
#block3{
    border: 1px solid greenyellow; 
    height: 300px;
    width: 400px;
    padding-left:50px;
    font-size: large;
 }
 #block4{
     border: 1px solid greenyellow; 
     height: 300px;
     width: 400px;
     padding-left:50px;
     font-size: large;
  }
  #carouselExampleInterval{
    padding-top: 30px;
}
 

/* Education End */

/* Skills */
#skill{
    height: 100vh;
    background-color: rgb(20, 25, 48);
    color: aliceblue;
    padding-top: 70px;
    text-align: center;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
  
}
#f-end {
    padding-top: 30px;
    
}
#b-end{
    padding-top: 40px;
    
}
#db{
    padding-top: 40px;
    
}
#skill h5{
    padding-top: 6px;
    letter-spacing: 4px;
    transition: 1s;
}
#skill h5:hover{
    cursor: pointer;
    color: rgb(105, 153, 172);
    transform: scale(1.3);
    filter:drop-shadow(10px 6px 3px rgb(105, 153, 172)n);
}

/* Skills End*/
/* Contact */
#contact{
    text-align: center;
    color: aliceblue;
    padding-top:80px;
    height: 100vh;
    background-color: rgb(20, 25, 48); 
}

#contact input{
border: 2px solid greenyellow;
width: 400px;
height: 60px;
margin: 10px;
background-color:rgb(20, 25, 48) ;
border-radius: 8px;
color: aliceblue;
    
    
}
#contact textarea{
    border: 2px solid greenyellow !important;
width: 820px;
height: 230px;
margin: 10px;
background-color:rgb(20, 25, 48) ;
border-radius: 8px;
color: aliceblue;
    
}

#fa2{
    padding-left: 600px;
}
#btn2{
    color: gray;
    background-color:rgb(20, 25, 48)  ;
    border: 2px solid greenyellow;
    border-radius: 10px;
    width: 200px;
    height: 50px;
}
/* Contact End */
